{
    "username" : "mol_username",
    "password": "mol_password",
    "UsePushOver" : true,
    "pushOverUserId" : "take it from pushover.net dashboard",
    "pushOverAppTokenId": "register app on pushover dashboard",
    "DoNotSendPushForSlotsAboveDays" : 4,
    "CheckIntervalMinutes" : 5,
    "AfterHour" : 0,
    "ExaminationSearchData": {
        "regionId": 204,
        "bookingTypeId": 1,
        "serviceId": 521,
        "clinicId": -1,
        "languageId": -1,
        "doctorId": -1,
        "searchSince": "2019-02-18T02:00:00.000Z",
        "searchForNextSince": null,
        "periodOfTheDay": 0,
        "isSetBecauseOfPcc": false,
        "isSetBecausePromoteSpecialization": false
    }
}