{
    "username" : "mol_username",
    "password": "mol_password",
    "UsePushOver" : true,
    "pushOverUserId" : "take it from pushover.net dashboard",
    "pushOverAppTokenId": "register app on pushover dashboard",
    "DoNotSendPushForSlotsAboveDays" : 4,
    "CheckIntervalMinutes" : 5,
    "AfterHour" : 10,
    "ConsultationSearchData": {
        "clinicIds": [],
        "doctorIds": [],
        "doctorLanguagesIds": [],
        "regionIds": [204],
        "searchSince": "2020-01-02T00:00:00.000Z",
        "serviceIds": [9],
        "serviceTypeId": 2 
    }
}